<section>
    <div>
        <div>
            <p>
                Uh oh.....
            </p>
            <p>
                Something went wrong... Please try again!
            </p>
            {{#if message}}
                <code>{{message}}</code>
            {{/if}}
        </div>
    </div>
</section>
